<template>
  <v-select :items="types" id="select_component" label="Categoria" v-model="selected"></v-select>
</template>

<script>
import axios from "axios";

export default {
  props: {
    get_category: {
      type: Boolean,
      required: false,
      default: false
    },
    new_category: {
      type: String,
      required: false,
      default: false
    }
  },
  data() {
    return {
      types: [],
      selected: ""
    };
  },
  created() {
    this.get_types();
  },
  methods: {
    get_types() {
      let instance = this;
      axios
        .get("/products/getCategories", {
          headers: {
            Authorization: `Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmciOiI1MmEzZjg3My0zNTA3LTQwNDItYjQ5NS03NDAyZDU4Y2I2MzgiLCJpYXQiOjE1OTMyODMyMjUsImV4cCI6MTU5MzMyNjQyNX0.gQJJQ_sa6VcQXY2y3GYCPRnmM8DhsXzi8O1Ke0iFh-o`
          }
        })
        .then(function(response) {
          console.log('categorias: ', response.data)
          response.data.forEach(category => {
            instance.types.push(category.category);
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  watch: {
    selected(val) {
      this.$emit("get-category", val);
    },
    new_category(val, old) {
      let index = this.types.indexOf(old);
      if (index > -1) {
        this.types.splice(index, 1);
      }

      this.types.push(val);
      if (!val) {
        this.types = this.types.filter(Boolean);
      }
      this.selected = val;
    }
  }
};
</script>
