<template lang="html">
  <div id="app">
  <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <div class="flex-row">
        <div class="flex-cell">
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
            fixed-header=true
          ></v-text-field>
        </div>
         <div class="flex-button">
          <v-btn small color="error" dark @click="cleanSearch">Borrar</v-btn>
        </div>
      </div>
      
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="products"
      :search="search"
      @click:row="agregarAlCarro"
      hide-default-footer
      no-data-text="Debe registrar productos primero."
    ></v-data-table>
  </v-card>
</div>
</template>

<script>
import axios from "axios";
import { log } from "util";

export default {
  props: {
    no_barcode: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Titulo",
          value: "title",
          align: "center"
        },
        {
          text: "Desctripcion",
          value: "description",
          align: "center"
        },
        {
          text: "Categoria",
          value: "category",
          align: "center"
        },
        {
          text: "Precio",
          value: "price",
          align: "center"
        }
      ],
      products: [],
      selected_products: []
    };
  },
  created() {
    if (this.no_barcode) {
      this.headers.pop();
    }
    this.fill_table();
  },
  methods: {
    fill_table() {
      let instance = this;
      axios
        .get("/products")
        .then(function(response) {
          response.data.forEach(product => {
            let obj = {};

            obj.id = product.id;
            obj.marca = product.brand;
            obj.modelo = product.model;
            obj.color = product.color;
            obj.tamano = product.size;
            obj.tamano_varilla = product.temple_size;
            obj.iva = product.price * 0.08;
            obj.precio = product.price;
            obj.cantidad = 1;

            instance.products.push(obj);
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    agregarAlCarro(param) {
      if (this.selected_products.length > 0) {
        let flag = false;
        this.selected_products.forEach(product => {
          if (product.id == param.id) {
            flag = true;
          }
          if (!flag) {
            this.selected_products.push(param);
          }
        });
      } else {
        this.selected_products.push(param);
      }
    },
    reset() {
      this.selected_products = [];
    },
    cleanSearch() {
      this.search = "";
    }
  },
  watch: {
    selected_products(val) {
      this.$emit("get_products", val);
    }
  }
};
</script>

<style scoped>
.flex-row {
  display: flex;
  width: 100%;
}

.flex-cell {
  flex: 0.8;
}

.flex-button {
  flex: 0.2;
}
</style>
