<template>
  <div>
    <div class="center-content margin-bottom">
      <h1>Productos</h1>
    </div>
    <div>
      <div class="wrapper">
        <div class="item" :key="i" v-for="(product, i) in products">
          <div class="flex-row">
            <div class="bold capitalize">
              {{ product.title }}
              <span style="color: #CA903E">${{ product.price }}</span
              >&nbsp;
            </div>

            <div class="right">
              <div class="align">
                <v-menu bottom offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="options"
                      elevation="1"
                      color="#fff"
                      fab
                      v-bind="attrs"
                      v-on="on"
                    >
                      ...
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(item, i) in items"
                      :key="i"
                      @click="() => {}"
                    >
                      <i id="trash-icon" :class="item.icon"></i>&nbsp;
                      <span class="options-size">{{ item.title }}</span>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>
          <img :src="product.image" @click="editProduct(product)" />
          <div class="flex-container">
            <div class="flex-row">
              <span>{{ product.description }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      products: [],
      items: [
        {
          title: "Recomendar",
          icon: "far fa-heart",
        },
        {
          title: "Eliminar",
          icon: "fas fa-trash-alt",
        },
      ],
    };
  },
  created() {
    this.getProducts();
  },
  methods: {
    getProducts() {
      axios
        .get("/products/getAll")
        .then((response) => {
          this.products = response.data;
          console.log(this.products);
        })
        .catch((error) => {
          console.log("Ocurrio un error: " + error);
        });
    },
    editProduct(product) {
      this.$router.push({ name: "products-register", params: { product } });
    },
  },
};
</script>

<style scoped>
.center-content {
  text-align: center;
}
.margin-bottom {
  margin-bottom: 40px;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.25fr));
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  /* grid-auto-rows: 220px;
  grid-row-gap: 320px; */
  /* background-color: aqua; */
}

.wrapper > div > img {
  width: 100%;
}

.wrapper > div > img:hover {
  filter: blur(5px);
  cursor: pointer;
}

.item {
  /* background-color: blueviolet; */
  padding: 20px;
}

.bold {
  font-weight: bold;
  width: 100% !important;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex: 1;
}

.capitalize {
  text-transform: capitalize;
}

img {
  width: 100vh;
  height: 30vh;
  object-fit: cover;
}

.right {
  width: 50%;
  text-align: right !important;
}

.align {
  padding-right: 5px !important;
}

#trash-icon {
  color: red;
}

#trash-icon:hover {
  cursor: pointer;
}

.options {
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.options-size {
  font-size: 0.7em;
}
</style>
