<template>
  <div class="container">
    <div class="align-center margin-bottom">
      <v-alert dense text v-if="alert" type="success">Productos registrados satisfactoriamente.</v-alert>
      <h1>{{ actionTitle }}</h1>
    </div>
    <div>
      <div class="content">
        <div id="app">
          <div class="container">
            <!-- <v-form >
            <v-layout>-->
            <div>
              <v-text-field label="Nombre" v-model="title"></v-text-field>
            </div>
            <div>
              <v-text-field label="Descripcion" v-model="description"></v-text-field>
            </div>
            <div class="flex-container">
              <div class="flex-row">
                <select_types :new_category="new_category" @get-category="category = $event"></select_types>
              </div>
              <div>
                <v-btn class="ma-2" tile outlined color="primary" @click="openDialog">+</v-btn>
              </div>
            </div>
            <div>
              <v-text-field label="Precio" v-model="price"></v-text-field>
            </div>
            <div class="border margin-bottom" v-if="!this.$route.params.product">
              <vue-dropzone
                ref="imgDropZone"
                id="customdropzone"
                :options="dropzoneOptions"
                @vdropzone-complete="beforeSave"
              ></vue-dropzone>
              <div v-if="images.length > 0" class="image-div">
                <div v-for="image in images" :key="image.src">
                  <img :src="image.src" class="image" />
                </div>
              </div>
            </div>
            <!-- <div>
              <div class="img-container">
                <img v-if="src" :src="src" />
              </div>
            </div>-->
            <div class="align-right">
              <v-btn
                v-if="action == 'Guardar'"
                tile
                outlined
                color="primary"
                @click="Registrar()"
              >{{action}}</v-btn>
              <v-btn v-else tile outlined color="primary" @click="Editar()">{{action}}</v-btn>
            </div>
            <!-- dialog -->

            <div>
              <v-row justify="center">
                <v-dialog v-model="dialog3" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span>Nueva categoria</span>
                      <v-spacer></v-spacer>
                    </v-card-title>
                    <v-card-actions>
                      <!-- <v-btn color="primary" text @click="dialog3 = false">Close</v-btn> -->
                      <v-text-field ref="newCat" label="Categoria" v-model="new_category"></v-text-field>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import select_types from "../../components/products/select_tipos.vue";
import { log } from "util";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import * as firebase from "firebase";
let uuid = require("uuid");

export default {
  name: "ImageCropper",
  components: {
    select_types,
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      new_category: "",
      dialog3: false,
      title: "",
      description: "",
      category: "",
      price: "",
      alert: false,
      displayName: "MariaBonita",
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 150,
        thumbnailHeight: 150,
        addRemoveLinks: false,
        acceptedFiles: ".jpg, .jpeg, .png",
        dictDefaultMessage: `<p class='text-default'><i class='fa fa-cloud-upload mr-2'></i> Haz clic aqui o arrastra una imagen</p>
          <p class="form-text">Extensiones validas: .jpg .jpeg .png</p>
          `
      },
      images: [],
      firebaseToken: "",
      src: "",
      chosenImage: "",
      received: {},
      action: "",
      actionTitle: ""
    };
  },
  async created() {
    if (await this.$route.params.product) {
      this.action = "Editar";
      this.actionTitle = "Editar Producto";
      this.received = this.$route.params.product;
      console.log(this.received);
      //
      this.title = this.received.title;
      this.description = this.received.description;
      this.new_category = this.received.category;
      this.price = this.received.price;
    } else {
      this.action = "Guardar";
      this.actionTitle = "Registrar Producto";
    }
  },
  methods: {
    openDialog() {
      this.dialog3 = true;
      this.$nextTick(() => this.$refs.newCat.focus());
    },
    async beforeSave(upload) {
      this.chosenImage = upload;
    },
    async afterComplete(upload, product_uuid) {
      // firebase
      //   .auth()
      //   .createUserWithEmailAndPassword("test@test.com", "12345678")
      //   .then(response => {
      //     console.log(response);
      //   })
      //   .catch(error => {
      //     console.log(error);
      //     // ...
      //   });

      firebase
        .auth()
        .signInWithEmailAndPassword("test@test.com", "523411")
        .then(response => {
          // console.log(response);
        })
        .catch(error => {
          console.log(error);
          // ...
        });

      var imageName = uuid.v1();
      this.isLoading = true;
      try {
        //save image
        let file = upload;
        var metadata = {
          contentType: "image/*"
        };
        var storageRef = firebase.storage().ref();
        var imageRef = storageRef.child(`${this.displayName}/${product_uuid}`);
        await imageRef.put(file, metadata);
        var downloadURL = await imageRef.getDownloadURL();
        this.images.push({ src: downloadURL });

        let data = {
          product_uuid: product_uuid,
          value: downloadURL
        };
        let response = await axios.post("/products/setImage", data);
        this.title = "";
        this.description = "";
        this.category = "";
        this.price = "";
        this.new_category = "";
        console.log(response);
      } catch (error) {
        console.log("error 2");
        console.log(error);
      }
      this.$refs.imgDropZone.removeFile(upload);
      this.images = [];
    },
    Registrar() {
      let instance = this;
      let obj = {};

      obj.title = this.title;
      obj.description = this.description;
      obj.category = this.category;
      obj.price = this.price;

      axios
        .post("/products/save", obj)
        .then(function(response) {
          instance.afterComplete(instance.chosenImage, response.data.product);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    Editar() {
      let instance = this;
      let obj = {};

      obj.title = this.title;
      obj.description = this.description;
      obj.category = this.category;
      obj.price = this.price;
      obj.product_uuid = this.received.product_uuid;

      axios
        .post("/products/update", obj)
        .then(function(response) {
          instance.title = "";
          instance.description = "";
          instance.category = "";
          instance.price = "";
          instance.new_category = "";

          instance.$router.push({ name: "products" });
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.align-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

.align-right {
  text-align: right;
}

.container {
  padding: 0 50px 0 50px;
}

.img-container > img {
  width: 400px;
  height: 200px;
}

.image-div {
  display: flex;
  margin: 25px;
  border: black;
}

.image {
  max-width: 250px;
  margin: 15px;
}

.flex-container {
  display: flex;
}

.flex-row {
  flex: 1;
}

.border {
  border: 1px #827e7e solid;
}
</style>
