<template>
  <div class="container title">
    <div class="overflow-hidden">
      <v-bottom-navigation value="true" class="flex-row">
        <div class="column">
          <v-btn color="#1565C0" text value="armazones">
            <span>Armazones</span>
            <v-icon>fa-glasses</v-icon>
          </v-btn>
        </div>
        <div class="column">
          <v-btn color="#1565C0" text value="estuches">
            <span>Estuches</span>
            <v-icon>fa-suitcase</v-icon>
          </v-btn>
        </div>
        <div class="column">
          <v-btn color="#1565C0" text value="microfibras">
            <span>Microfibras</span>
            <v-icon>fa-scroll</v-icon>
          </v-btn>
        </div>
        <div class="column">
          <v-btn color="#1565C0" text value="soluciones">
            <span>Soluciones</span>
            <v-icon>fa-spray-can</v-icon>
          </v-btn>
        </div>
        <div class="column">
          <v-btn color="#1565C0" text value="contactos">
            <span>Contactos</span>
            <v-icon>fa-eye</v-icon>
          </v-btn>
        </div>
        <div class="column">
          <v-btn color="#1565C0" text value="otros">
            <span>Otros</span>
            <v-icon>fa-box-open</v-icon>
          </v-btn>
        </div>
      </v-bottom-navigation>
    </div>
    <div class="flex-row">
      <div class="column">
        <v-layout row>
          <v-flex class="heigth-fix">
            <v-list>
              <v-list-item :key="item.id" v-for="item in car">
                <v-list-item-content>
                  <v-list-item-title class="items-container">
                    <div class="first">{{item.marca+' '+item.modelo}}</div>
                    <div class="second">
                      <input
                        @change="guardar_cambios(item, item.cantidad)"
                        v-model="item.cantidad"
                        class="border align-center"
                        type="number"
                        min="1"
                      />
                      <span class="quantity">x</span>
                    </div>
                    <div class="third">${{item.precio}}</div>
                    <div class="fourth">${{ parseFloat(item.cantidad) * parseFloat(item.precio) }}</div>
                    <div class="fifth">
                      <v-icon
                        @click="remove_item(item.id)"
                        color="error"
                        class="icon hand"
                      >fa-minus-circle</v-icon>
                    </div>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </div>
      <div class="column">
        <div class="heigth-fix">
          <div class="overflow-hidden">
            <tabla_productos ref="tabla_productos" @get_products="car =  $event" :no_barcode="true"></tabla_productos>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row-details">
      <div class="column-details">
        <div class="flex-row margin-top-details">
          <div class="column">Subtotal: {{ subtotal }}</div>
          <div class="column">Descuento: 0</div>
          <div class="column">Iva: {{ iva }}</div>
          <div class="column">Total: {{ total }}</div>
        </div>
        <div class="metodos_pago">
          <v-select :items="metodos_pago" label="Metodo de pago"></v-select>
        </div>
        <div class="flex-row margin-top-details">
          <div class="column">
            <v-btn text class="center-content" color="error">Cancelar</v-btn>
          </div>
          <div class="column">
            <v-btn small text class="center-content">Nota</v-btn>
          </div>
          <div class="column">
            <v-btn small text class="center-content">Descuento</v-btn>
          </div>
          <div class="column">
            <v-btn small text class="center-content">Imprimir</v-btn>
          </div>
        </div>
      </div>
      <div class="column-buttons">
        <div class="margin-top">
          <v-btn color="error" @click="limpiarCampos()">Limpiar</v-btn>
          <v-btn color="success" @click="limpiarCampos()">Pagar</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import tabla_productos from "../../components/products/tabla_productos.vue";
var _ = require("lodash");

export default {
  components: {
    tabla_productos
  },
  data() {
    return {
      bottomNav: "recent",
      car: [],
      metodos_pago: ["Efectivo", "Tarjeta", "Pagando"],
      subtotal: 0,
      total: 0,
      iva: 0
    };
  },
  methods: {
    limpiarCampos() {
      this.$refs.tabla_productos.reset();
    },
    remove_item(id) {
      var index = _.findIndex(this.car, { id: id });
      this.car.splice(index, 1);
    },
    guardar_cambios(item, cantidad) {
      let obj = {};
      obj.cantidad = parseInt(cantidad);
      obj.color = item.color;
      obj.id = item.id;
      obj.marca = item.marca;
      obj.modelo = item.modelo;
      obj.precio = parseInt(item.precio);
      obj.tamano = item.tamano;
      obj.tamano_varilla = item.tamano_varilla;

      var index = _.findIndex(this.car, { id: item.id });
      this.car.splice(index, 1, obj);
    }
  },
  watch: {
    car: {
      handler: function(val) {
        this.subtotal = 0;
        val.forEach(selected_item => {
          this.iva += selected_item.iva;
          this.subtotal += (selected_item.cantidad * selected_item.precio) - this.iva;
          this.total += this.subtotal + this.iva;
        });
      },
      deep: true
    }
  }
};
</script>

<style scoped>
.title {
  text-align: center;
  margin-bottom: 15px;
}

.flex-row {
  display: flex;
}

.flex-row-details {
  display: flex;
}

.flex-row-buttons {
  display: flex;
}

.column-buttons {
  flex: 1;
}

.column {
  flex: 1;
}

.column-details {
  flex: 1;
  background-color: #9aceed;
  flex-direction: row;
}
.icon {
  font-size: 1em;
}
.border {
  border: 1px solid #dadada;
  width: 50px;
  height: 30px;
}
.align-center {
  text-align: center;
}
.items-container {
  width: 100%;
  display: block;
  border: 1px solid #dadada;
}
.first {
  width: 45%;
  height: 100%;
  float: left;
  border-collapse: collapse;
  padding: 14px 0;
  padding-left: 5px;
}

.second {
  width: 20%;
  height: 100%;
  float: left;
  border-collapse: collapse;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px 0;
}
.third {
  width: 15%;
  height: 100%;
  position: relative;
  float: left;
  border-collapse: collapse;
  padding: 14px 0;
  text-align: left;
  padding-right: 5px;
}
.fourth {
  width: 15%;
  height: 100%;
  position: relative;
  float: left;
  border-collapse: collapse;
  padding: 14px 0;
  text-align: right;
  padding-right: 5px;
}
.fifth {
  width: 5%;
  height: 100%;
  position: relative;
  float: left;
  border-collapse: collapse;
  padding: 14px 0;
  text-align: right;
  padding-right: 5px;
}
.quantity {
  padding: 5px 0;
  margin-left: 5px;
}
.heigth-fix {
  overflow: auto;
  height: 50vh;
  padding: 0 0 20px 0;
}
.payment-details {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: 9aceed;
  position: relative;
}

.payment-details > div {
  width: 100px;
  margin: 10px;
  text-align: left;
  line-height: 75px;
  font-size: 1em;
  flex: 1 1 25%;
}
.payment-details > div > p {
  margin: 0;
  height: 50px;
}
.center-content {
  margin: 0 auto;
  text-align: center;
}

.payment-settings {
  width: 100px;
  margin: 10px;
  text-align: left;
  line-height: 75px;
  font-size: 1em;
  flex: 1 1 20% !important;
}

.hand {
  cursor: pointer;
}

.z-index {
  z-index: 9999;
  background-color: #f8f8f8;
}

.metodos_pago {
  width: 100%;
  margin-top: 50px;
  align-content: top;
}

.margin-top {
  margin-top: 25px;
}

.margin-top > button {
  margin: 15px;
}

.margin-top-details {
  margin-top: 45px;
}
</style>

<style>
div.margin-top-details > div > button.v-size--small > span.v-btn__content {
  color: #fff !important;
}
</style>
