<template>
  <div class="container">
      <h1 class="view-title">Historial de recetas</h1>
    <div class="autocomplete">
      <v-text-field class="row-input" label="Buscar" v-model="name"></v-text-field>
      <ul class="autocomplete-results">
        <li
          class="autocomplete-result"
          :key="i"
          v-for="(person, i) in dropdownClients"
          @click="name = person.nombre.split('-')[0], selected_id=person.id"
        >{{person.nombre}}</li>
      </ul>
    </div>
    <div class="container">
      <div class="text-center">
        <div class="total-width">
          <v-btn class="margin-right" @click="all">Expandir todos</v-btn>
          <v-btn class="margin-left" @click="none">Colapsar todos</v-btn>
        </div>
      </div>
      <v-expansion-panels multiple>
        <v-expansion-panel v-for="(item,i) in recipes" :key="i">
          <v-expansion-panel-header>
            <b
              v-if="item.recipes.length > 1"
            >{{ item.anio + " - " + item.recipes.length + " Recetas"}}</b>
            <b v-else>{{ item.anio + " - " + item.recipes.length + " Receta"}}</b>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div :key="i" v-for="(data, i) in item.recipes">
              <h4 class="card-date">{{data.created_at.substring(0, 10)}}</h4>
              <v-card class="mx-auto margin-bottom">
                <section class="rx-ant">
                  <h4>Rx Anterior</h4>
                  <div class="flex-row">
                    <div class="cell">
                      <span>R.X</span>
                    </div>
                    <div class="cell">
                      <span>ESFERA.</span>
                    </div>
                    <div class="cell">
                      <span>CILINDRO.</span>
                    </div>
                    <div class="cell">
                      <span>EJE.</span>
                    </div>
                    <div class="cell">
                      <span>ADD.</span>
                    </div>
                    <div class="cell">
                      <span>MATERIAL.</span>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>O.D.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_esfera_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_cilindro_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_eje_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_add_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_material_od" />
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>O.I.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_esfera_oi" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_cilindro_oi" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_eje_oi" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_ant_add_oi" />
                    </div>
                    <div class="normal-cell"></div>
                  </div>
                </section>
                <section class="observaciones">
                  <h4>Observaciones</h4>
                  <div class="flex-row">
                    <div class="normal-cell-obs">
                      <input type="text" v-model="data.observaciones" />
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>A.V. S/C</span>
                    </div>
                    <div class="cell">
                      <span>A.V. C/CANT</span>
                    </div>
                    <div class="cell">
                      <span>A.V. P.H.</span>
                    </div>
                    <div class="cell">
                      <span>A.V. ACTUAL</span>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>O.D.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_cs_od" />
                    </div>
                    <div class="cell">
                      <span>O.D.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_cant_od" />
                    </div>
                    <div class="cell">
                      <span>O.D.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_ph_od" />
                    </div>
                    <div class="cell">
                      <span>O.D.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_actual_od" />
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>O.I.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_cs_oi" />
                    </div>
                    <div class="cell">
                      <span>O.I.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_cant_oi" />
                    </div>
                    <div class="cell">
                      <span>O.I.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_ph_oi" />
                    </div>
                    <div class="cell">
                      <span>O.I.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.av_actual_oi" />
                    </div>
                  </div>
                  <h4>Rx Actual</h4>
                  <div class="flex-row">
                    <div class="cell">
                      <span>R.X</span>
                    </div>
                    <div class="cell">
                      <span>ESFERA.</span>
                    </div>
                    <div class="cell">
                      <span>CILINDRO.</span>
                    </div>
                    <div class="cell">
                      <span>EJE.</span>
                    </div>
                    <div class="cell">
                      <span>ADD.</span>
                    </div>
                    <div class="cell">
                      <span>DIP.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_dip" />
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>O.D.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_esfera_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_cilindro_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_eje_od" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_add_od" />
                    </div>
                    <div class="cell">
                      <span>ALTURA</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_altura" />
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="cell">
                      <span>O.I.</span>
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_esfera_oi" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_cilindro_oi" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_eje_oi" />
                    </div>
                    <div class="normal-cell">
                      <input type="text" v-model="data.rx_actual_add_oi" />
                    </div>
                    <div class="normal-cell"></div>
                    <div class="normal-cell"></div>
                  </div>
                </section>
              </v-card>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import _ from "lodash";
import { map } from "lodash";

export default {
  data() {
    return {
      dropdownClients: [],
      recipes: [],
      name: "",
      panel: [],
      items: 5,
      selected_id: "",
    };
  },
  methods: {
    fill_data() {
      let instance = this;
      axios
        .get("recipes/all/" + instance.selected_id)
        .then(response => {
          response.data.forEach(recipe => {
            recipe.date = recipe.created_at.substring(0, 4);
          });

          instance.recipes = _.chain(response.data)
            .groupBy("date")
            .map((value, key) => ({
              anio: key.substring(0, 4),
              recipes: value
            }))
            .reverse()
            .value();
        })
        .catch(error => {
          console.log(error);
        });
    },
    all() {
      this.panel = [...Array(this.recipes.length)].map((k, i) => i);
    },
    none() {
      this.panel = [];
    },
    searchPeople(param) {
      let data = {
        filter: {
          name: param
        }
      };

      let instance = this;
      axios
        .post("/customers/search/list", data)
        .then(response => {
          instance.dropdownClients = [];
          response.data.forEach(person => {
            this.dropdownClients.push(person);
          });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  watch: {
    name(val) {
      this.searchPeople(val);
    },
    selected_id(val) {
      this.fill_data();
    }
  }
};
</script>

<style scoped>
.margin {
  margin: 0, 15px, 0 15px;
}

.total-width {
  width: 100%;
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 100px;
}

.margin-left {
  margin-left: 100px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: auto;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #9aceed;
  color: #000;
}

.flex-row {
  display: flex;
}

.cell {
  border: solid 1px #fff;
  flex: 1;
  text-align: center;
  background-color: #489fcd;
  color: #fff;
}
.normal-cell {
  border: solid 1px #fff;
  flex: 1;
  text-align: center !important;
  color: #000;
}

input {
  width: 100%;
  text-align: center;
}

.normal-cell-obs {
  border: solid 1px #fff;
  flex: 1;
  text-align: center !important;
  color: #000;
  background-color: #dadada;
  margin-bottom: 10px;
}

.margin-bottom {
  margin-bottom: 20px;
}
.card-date {
  color: #1976d2;
  margin-bottom: 20px;
}
</style>