<template>
  <v-container>
    <div class="align-center margin-bottom">
      <v-alert dense text v-if="alert" type="success">Receta registrada satisfactoriamente.</v-alert>
      <h1 class="view-title">Recetas</h1>
    </div>
    <v-card class="card" outlined>
      <section class="datos-cliente">
        <h4>Datos cliente</h4>
        <div class="autocomplete">
          <v-text-field class="row-input" label="Nombre" v-model="recipes.name"></v-text-field>
          <ul class="autocomplete-results">
            <li
              class="autocomplete-result"
              :key="i"
              v-for="(person, i) in dropdownClients"
              @click="recipes.name = person.nombre.split('-')[0], recipes.address = person.nombre.split('-')[1], recipes.customer_id = person.id"
            >{{person.nombre}}</li>
          </ul>
        </div>
        <v-text-field label="Dirección" v-model="recipes.address"></v-text-field>
        <div class="flex-row">
          <v-text-field class="row-input" label="Fracc." v-model="recipes.fracc"></v-text-field>
          <v-text-field class="row-input" label="Celular" v-model="recipes.phone"></v-text-field>
        </div>
      </section>
    </v-card>
    <v-card class="card margin-top" outlined>
      <section class="datosempresa">
        <h4>Datos de la empresa</h4>
        <div class="flex-row">
          <div class="cell">
            <span>EMPRESA</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.company" />
          </div>
          <div class="cell">
            <span>CHECADOR</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.checker" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>AREA</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.area" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>TURNO</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.turn" />
          </div>
        </div>
      </section>
    </v-card>

    <v-card class="card margin-top" outlined>
      <section class="rx-ant">
        <h4>Rx Anterior</h4>

        <div class="flex-row">
          <div class="cell">
            <span>R.X</span>
          </div>
          <div class="cell">
            <span>ESFERA.</span>
          </div>
          <div class="cell">
            <span>CILINDRO.</span>
          </div>
          <div class="cell">
            <span>EJE.</span>
          </div>
          <div class="cell">
            <span>ADD.</span>
          </div>
          <div class="cell">
            <span>MATERIAL.</span>
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>O.D.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_esfera_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_cilindro_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_eje_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_add_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_material_od" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>O.I.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_esfera_oi" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_cilindro_oi" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_eje_oi" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_ant_add_oi" />
          </div>
          <div class="normal-cell"></div>
        </div>
      </section>
      <section class="observaciones">
        <h4>Observaciones</h4>
        <div class="flex-row">
          <div class="normal-cell-obs">
            <input type="text" v-model="recipes.observavciones" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>A.V. S/C</span>
          </div>
          <div class="cell">
            <span>A.V. C/CANT</span>
          </div>
          <div class="cell">
            <span>A.V. P.H.</span>
          </div>
          <div class="cell">
            <span>A.V. ACTUAL</span>
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>O.D.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_cs_od" />
          </div>
          <div class="cell">
            <span>O.D.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_cant_od" />
          </div>
          <div class="cell">
            <span>O.D.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_ph_od" />
          </div>
          <div class="cell">
            <span>O.D.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_actual_od" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>O.I.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_cs_oi" />
          </div>
          <div class="cell">
            <span>O.I.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_cant_oi" />
          </div>
          <div class="cell">
            <span>O.I.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_ph_oi" />
          </div>
          <div class="cell">
            <span>O.I.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.av_actual_oi" />
          </div>
        </div>
        <h4>Rx Actual</h4>
        <div class="flex-row">
          <div class="cell">
            <span>R.X</span>
          </div>
          <div class="cell">
            <span>ESFERA.</span>
          </div>
          <div class="cell">
            <span>CILINDRO.</span>
          </div>
          <div class="cell">
            <span>EJE.</span>
          </div>
          <div class="cell">
            <span>ADD.</span>
          </div>
          <div class="cell">
            <span>DIP.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_dip" @blur="add_mm_dip" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>O.D.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_esfera_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_cilindro_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_eje_od" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_add_od" />
          </div>
          <div class="cell">
            <span>ALTURA</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_altura" @blur="add_mm_altura" />
          </div>
        </div>
        <div class="flex-row">
          <div class="cell">
            <span>O.I.</span>
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_esfera_oi" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_cilindro_oi" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_eje_oi" />
          </div>
          <div class="normal-cell">
            <input type="text" v-model="recipes.rx_actual_add_oi" />
          </div>
          <div class="normal-cell"></div>
          <div class="normal-cell"></div>
        </div>
      </section>
    </v-card>
    <div class="button-container">
      <v-btn class="ma-2 padding-right" @click="save(recipes)" tile outlined color="info">Guardar</v-btn>
      <!-- GUARDAR SOLAMENTE, NO IMPREISON -->
      <v-btn depressed color="primary" @click="register_recipe">Venta</v-btn>
    </div>
  </v-container>
</template>

<script>
import { log } from "util";
import axios from "axios";
export default {
  data() {
    return {
      alert: false,
      dropdownClients: [],

      recipes: {
        name: "",
        customer_id: "",
        address: "",
        fracc: "",
        phone: "",
        company: "",
        area: "",
        turn: "",
        checker: "",
        av_cs_od: "20/",
        av_cant_od: "20/",
        av_ph_od: "20/",
        av_actual_od: "20/",
        av_actual_oi: "20/",
        av_cs_oi: "20/",
        av_cant_oi: "20/",
        av_ph_oi: "20/",
        rx_ant_esfera_od: "",
        rx_ant_cilindro_od: "",
        rx_ant_eje_od: "",
        rx_ant_add_od: "",
        rx_ant_material_od: "",
        rx_ant_esfera_oi: "",
        rx_ant_cilindro_oi: "",
        rx_ant_eje_oi: "",
        rx_ant_add_oi: "",
        rx_ant_material_oi: " ",
        rx_actual_esfera_od: "",
        rx_actual_cilindro_od: "",
        rx_actual_eje_od: "",
        rx_actual_add_od: "",
        rx_actual_esfera_oi: "",
        rx_actual_cilindro_oi: "",
        rx_actual_eje_oi: "",
        rx_actual_add_oi: "",
        rx_dip: "",
        rx_altura: "",
        observaciones: ""
      }
    };
  },
  methods: {
    save(val) {
      let instance = this;
      axios
        .post("/recipes", val)
        .then(result => {
          instance.alert = true;
          setTimeout(function() {
            instance.alert = false;
          }, 3000);
        })
        .catch(error => {
          console.log(error);
        });
    },
    register_recipe(data) {},
    add_mm_dip() {
      this.recipes.rx_dip += "mm";
    },
    add_mm_altura() {
      this.recipes.rx_altura += "mm";
    },
    searchPeople(param) {
      if (this.recipes.address != null) {
        let data = {
          filter: {
            name: param
          }
        };

        let instance = this;
        axios
          .post("/customers/search/list", data)
          .then(response => {
            instance.dropdownClients = [];
            this.loadingPersons = true;
            response.data.forEach(person => {
              this.dropdownClients.push(person);
            });
            this.loadingPersons = false;
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
  },
  watch: {
    "recipes.rx_dip": {
      deep: true,
      handler(n, o) {
        if (n.length == 2 && o.length == 1) {
          this.recipes.rx_dip = n + "/";
        }
      }
    },
    "recipes.name": {
      deep: true,
      handler(val) {
        this.searchPeople(val);
      }
    }
  }
};
</script>

<style scoped>
.flex-row {
  display: flex;
}

.card {
  padding: 20px;
}

input {
  width: 100%;
  text-align: center;
}

.margin-top {
  margin-top: 15px;
}

.cell {
  border: solid 1px #fff;
  flex: 1;
  text-align: center;
  background-color: #489fcd;
  color: #fff;
}
.normal-cell {
  border: solid 1px #fff;
  flex: 1;
  text-align: center !important;
  color: #000;
}

.button-container {
  text-align: right;
  padding-right: 10%;
  margin-top: 15px;
}
.padding-right {
  padding-right: 15px;
}
.normal-cell-obs {
  border: solid 1px #fff;
  flex: 1;
  text-align: center !important;
  color: #000;
  background-color: #dadada;
  margin-bottom: 10px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: auto;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #9aceed;
  color: #000;
}
</style>