<template>
  <v-app>
    <nav_drawer />
    <app_bar />
    <v-content>
      <router-view />
    </v-content>
    <help_dialog/>
  </v-app>
</template>

<script>
import help_dialog from "@/components/global/help.vue";
import app_bar from "@/components/global/app-bar.vue";
import nav_drawer from "@/components/global/navigation-drawer.vue";

export default {
  components: {
    help_dialog,
    app_bar,
    nav_drawer,
    helpButtonShow: ""
  },
  date() {
    return {
      show: true
    };
  },
  created() {
    if (window.location.href.includes("pos/sales")); // pendiente quitar el boton de ayuda
    {
      this.show = false;
    }
  }
};
</script>


