
<template>
  <body>
    <div class="login-page">
      <div style="margin-top: 40px">
        <img src="../assets/company_logo.png" />
      </div>
      <div class="form">
        <error_alert
          :show.sync="invalidCredentials"
          text="Credenciales inválidas. Intente nuevamente."
        />
        <form id="login-form">
          <input
            type="text"
            placeholder="Usuario"
            v-model="username"
            @keyup.enter="login()"
          />
          <input
            type="password"
            placeholder="Contraseña"
            v-model="password"
            @keyup.enter="login()"
          />
          <!-- <v-btn class="ma-2" tile outlined color="primary" @click="openDialog">+</v-btn> -->
          <v-btn color="#F9A753" type="button" @click="login()">
            Iniciar Sesión
          </v-btn>
        </form>
      </div>
    </div>
  </body>
</template>

<script>
import error_alert from "../components/global/error-alert";
import { log } from "util";
import axios from "axios";
export default {
  components: {
    error_alert,
  },
  data() {
    return {
      username: "",
      password: "",
      invalidCredentials: false,
    };
  },
  methods: {
    login() {
      const data = {
        email: this.username,
        password: this.password,
      };

      axios
        .post("/auth/signIn", data)
        .then((response) => {
          console.log("response:", response);
          const token = response.data.token;

          if (token) {
            this.invalidCredentials = false;
            this.$store.commit("setUserData", {
              token: token,
              userEmail: response.data.email,
            });
            location.reload();
          } else {
            throw "Token not set";
          }
        })
        .catch((error) => {
          console.log(error);
          this.invalidCredentials = true;
        });
    },
  },
};
</script>

<style scoped>
body {
  background-image: linear-gradient(to bottom right, #fff, #F9A753);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.login-page {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 50em */
}

.form {  
  background: #fff;
  margin-top: 9%;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 400px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ecf0f1;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #16a0d2;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page {
    margin-top: 0;
  }

  .form {
    margin: 0;
    padding: 20px;
    width: 320px;
  }
}

@media only screen and (max-width: 330px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page {
    margin-top: 0;
  }

  .form {
    margin: 0;
    padding: 15px;
    width: 290px;
  }
}

.buzon-anonimo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
  height: 40px;
  width: 150px;
  border: 0;
  font-size: 14px;
  background: #0d47a1;
}

.buzon-anonimo button {
  height: 40px;
  width: 100%;
}

.texto-buzon {
  color: white;
}

.msg-icon {
  color: white;
}

.el-button {
  height: 35px;
  padding: 8px 20px;
}
</style>
