<template>
  <v-app-bar app clipped-left color="#757474">
    <v-app-bar-nav-icon dark @click="$store.commit('changeDrawerState', $isMobile)"></v-app-bar-nav-icon>
      <v-toolbar-title class="white-text">Digital puzzle</v-toolbar-title>
  </v-app-bar>
</template>
