<template>
  <v-fade-transition>
    <div v-if="show" class="error-alert">
      <span class="text">{{ text }}</span>
      <v-btn @click="closeAlert" icon class="icon">
        <v-icon>fa-times-circle</v-icon>
      </v-btn>
    </div>
  </v-fade-transition>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    },
    show: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    closeAlert() {
      this.$emit("update:show", false);
    }
  }
};
</script>

<style scoped>
.error-alert {
  height: 50px;
  background: #ef5350;
  margin-bottom: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.icon {
  color: #b71c1c !important;
  margin-left: 10px;
}

.text {
  font-size: 14px;
  color: white;
}
</style>