<template>
  <div>
    <v-btn :v-if="show" fab bottom right color="#757474" dark fixed @click="dialog = !dialog">
      <v-icon class="font-size">fas fa-question</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title class="grey lighten-4 py-4 title">Sección de ayuda</v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <div class="help-columns">
              <p>
                <v-icon class="padding-right">fa-warehouse</v-icon>Muestra el listado de todos los productos, incluyendo los que no cuentan con existencia.
              </p>
              <p>
                <v-icon class="padding-right">fa-archive</v-icon>Muestra el listado de los productos en existencia.
              </p>
              <p>
                <v-icon class="padding-right">fa-plus-square</v-icon>Este apartado especial permite registrar productos nuevos, registrarles precios y modificar los ya existentes.
              </p>
              <p>
                <v-icon class="padding-right">fa-chart-line</v-icon>Muestra diferentes reportes de ventas y es posible filtrar los resultados de manera manual.
              </p>
              <p>
                <v-icon class="padding-right">fa-tasks</v-icon>Muestra las recetas ya creadas y permite crear recetas nuevas.
              </p>
              <p>
                <v-icon class="padding-right">fa-dollar-sign</v-icon>Menu exclusivo para realizar ventas.
              </p>
              <p>
                <v-icon class="padding-right">fa-cash-register</v-icon>Apartado exclusivo para realizar corte de caja.
              </p>
            </div>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="dialog = false">Entendido</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    show: Boolean,
    default: true
  },
  data() {
    return {
      dialog: false
    };
  }
};
</script>

<style scoped>
.help-columns {
  display: block;
  margin: 0 auto;
}

.padding-right {
  width: 50px;
}

.font-size {
  font-size: 20px;
}
</style>