<template>
  <v-navigation-drawer clipped v-model="drawer" app>
    <v-list dense nav>
      <template v-for="item in items">
        <v-list-group color="#CA903E" v-if="item.children" :key="item.text" value="true">
          <template v-slot:activator>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </template>
          <v-list-item
            v-for="child in item.children"
            @click="redirect(child.value)"
            :key="child.text"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ child.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider />
        </v-list-group>
        <v-list-item v-else :key="item.text" @click="redirect(item.value)" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
    <v-divider />
    <v-list-item class="cerrar-sesion" @click="sign_out" link>
      <v-list-item-content>
        <v-list-item-title>Cerrar sesión</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <div class="logo">
      <img src="../../assets/company_logo.png" width="85%" alt />
    </div>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    drawer: null,
    items: [
      {
        text: "Inventario",
        model: false,
        children: [
          {
            text: "Productos",
            value: "/products",
            icon: "fab fa-elementor"
          },
          // {
          //   text: "Productos en existencia",
          //   value: "/products/inventory",
          //   icon: "fas fa-boxes "
          // },
          {
            text: "Registrar productos",
            value: "/products/register",
            icon: "fas fa-save"
          }
        ]
      },
      {
        text: "Promociones",
        value: "/reports",
        icon: "fas fa-piggy-bank"
      }
    ]
  }),
  computed: {
    ...mapGetters(["drawerState"])
  },
  watch: {
    drawerState(newValue) {
      this.drawer = newValue;
    }
  },
  methods: {
    sign_out() {
      this.$store.commit("setUserData", {});
      location.reload();
    },
    redirect(route) {
      this.$router.push(route);
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: black;
}

.image_container {
  padding-top: 35px;
  text-align: center;
  margin-bottom: 100px;
  position: absolute;
  bottom: 0;
}
.logo {
  margin-top: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-icon {
  font-size: 12px;
}
.cerrar-sesion {
  padding-left: 28%;
  background-color: #dadada;
  color: #fff;
}

.color {
  background-color: #DCFAFB;
}
</style>